:root {
  --cell-size: 40px;
  --cell-width: 100px;
  --cell-size-half: calc(var(--cell-size)/2);
  --node-height: 60px;
  --node-width: 120px;
  --node-margin-top: calc(-1*var(--node-height)/2);
  --node-margin-left: calc((var(--cell-width) - var(--node-width)/2));
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#zoom {
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  cursor: grab;
}
table {
  border-collapse: collapse;
}

td {
  border: 1px solid #808080;
}

td,
.cell {
  min-width: var(--cell-width);
  width: var(--cell-width);
  max-width: var(--cell-width);
  min-height: var(--cell-size);
  height: var(--cell-size);
  max-height: var(--cell-size);
  vertical-align: middle;
  text-align: center;
}

.f {
    background: #bf597e80;
}
.m {
    background: #6b7eb380;
}
.node{
    display: flex;
    width: var(--node-width);
    height: var(--node-height);
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: var(--node-margin-top);
    margin-left: var(--node-margin-left);
    border-radius: 4px;
}
